[data-tab-content]{
    display: none;
}


.active[data-tab-content] {
    display: block;

}

body{
    padding: 0;
    margin: 0;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.tab {
    cursor: pointer;
    padding: 10px;

}

.tab.active {
    background-color: #ccc;
}

.tab:hover{
    background-color: #aaa;
}

.tab-content{
    margin-left: 20px;
    margin-right: 20px;

}

div.roster {
    display: flex;
    flex-wrap: wrap;
  /*  justify-content: space-around;
    align-content: space-between; */
  }
  
  div.headshot {
    height: 240px;
    background-color: #ff00ff;
    border: 1px solid #000000;
    margin: 10px;
  }
  
  .roster-name {
    text-align: center;
    margin-top: 10px;
  }
  .headshot img {
   display: block;
   margin: auto;
    margin-top: 20px;
  }
